<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  
*******************************************************************************
  돈사환기 : 관리자/장비관리 
*******************************************************************************/
-->
<mapper namespace="newgov.equipMapper">

    <update id="deleteTnEqpmnManage" parameterType="egovMap" >
    	UPDATE TN_EQPMN_MANAGE 
    	SET USE_YN = 'N'
    	WHERE 
    		SN = #{sn}
    </update>

    <update id="updateTnEqpmnManage" parameterType="egovMap" >
		UPDATE TN_EQPMN_MANAGE
		SET 
			<if test="eqpmnInstlDe != null and eqpmnInstlDe != ''">
			EQPMN_INSTL_DE= #{eqpmnInstlDe }, 
			</if>
			<if test="farmLc != null and farmLc != ''">
			FARM_LC= #{farmLc }, 
			</if>
			<if test="eqpmnNm != null and eqpmnNm != ''">
			EQPMN_NM= #{eqpmnNm }, 
			</if>
			REGISTER_ID= 'system', 
			<if test="registDt != null and registDt != ''">
			REGIST_DT= #{registDt }, 
			</if>
			<if test="updtId != null and updtId != ''">
			UPDT_ID= #{updtId }, 
			</if>
			<if test="useYn != null and useYn != ''">
			USE_YN= #{useYn }
			</if>
			UPDT_DT= NOW()
		WHERE 
			SN = #{sn} 
    </update>

    <insert id="insertTnEqpmnManage" parameterType="egovMap" >
      <selectKey keyProperty="maxSn" resultType="int" order="BEFORE">
      	SELECT MAX(SN)+1 AS MAX_SN FROM TN_EQPMN_MANAGE
      </selectKey>
      INSERT INTO TN_EQPMN_MANAGE (
      	SN,
      	EQPMN_NO, 
      	EQPMN_TY_CODE, 
      	FARM_NO, 
      	EQPMN_INSTL_DE, 
      	FARM_LC, 
      	EQPMN_NM, 
      	USE_YN,
      	REGISTER_ID, 
      	REGIST_DT
      ) 
      VALUES 
	  ( 
	  	#{maxSn },
      	#{eqpmnNo }, 
      	#{eqpmnTyCode }, 
      	#{farmNo }, 
      	#{eqpmnInstlDe }, 
      	#{farmLc }, 
      	#{eqpmnNm }, 
      	'Y',
      	#{userId },
      	NOW()
	  )
    </insert>

    <select id="selectTnEqpmnManage" parameterType="egovMap" resultType="egovMap">
       SELECT
       	  @ROWNUM := @ROWNUM + 1 AS NO, -- 가상번호		
       	  TA.*
       FROM (
		   SELECT 
		   	  T1.SN,
			  T1.EQPMN_TY_CODE, 
			  T4.VAL AS EQPMN_TY_CODE_NM, 
			  T1.EQPMN_NO, 
			  T1.FARM_NO, 
			  DATE_FORMAT(T1.EQPMN_INSTL_DE, '%Y-%m-%d') AS EQPMN_INSTL_DE,
			  T2.FARM_NM,
			  T1.FARM_LC, 
			  SUBSTRING_INDEX(SUBSTRING_INDEX(T1.FARM_LC,',',1), ',', -1) AS LOC_CD,
			  SUBSTRING_INDEX(SUBSTRING_INDEX(T1.FARM_LC,',',2), ',', -1) AS IN_OUT,
			  T3.VAL AS FARM_LC_NM,
			  T1.EQPMN_NM, 
			  T1.REGISTER_ID, 
			  DATE_FORMAT(T1.REGIST_DT, '%Y-%m-%d') AS REGIST_DT, 
			  T1.UPDT_ID, 
			  DATE_FORMAT(T1.UPDT_DT, '%Y-%m-%d') AS UPDT_DT, 
			  T1.USE_YN
		   FROM TN_EQPMN_MANAGE T1
		   LEFT JOIN TN_CODE_INFO T3 ON T3.GID = '설치위치' AND T3.ID = T1.FARM_LC
		   LEFT JOIN TN_CODE_INFO T4 ON T4.GID = '장비타입' AND T4.ID = T1.EQPMN_TY_CODE,
		   TN_PIG_FARM T2, (SELECT @rownum :=0) AS R
		   WHERE 
				T1.FARM_NO = T2.FARM_NO
				<if test="sn != null and sn != ''">
			 	AND T1.SN = #{sn }
				</if>
				<if test="farmNo != null and farmNo != ''">
			 	AND T1.FARM_NO = #{farmNo }
				</if>
				<if test="eqpmnTyCode != null and eqpmnTyCode != ''">
			 	AND T1.EQPMN_TY_CODE = #{eqpmnTyCode }
				</if>
				<if test="eqpmnNo != null and eqpmnNo != ''">
			 	AND T1.EQPMN_NO = #{eqpmnNo }
				</if>
				AND T1.USE_YN = 'Y'
		   ORDER BY IN_OUT DESC, T1.FARM_NO, T1.EQPMN_TY_CODE, T1.EQPMN_NO DESC
       ) TA
       ORDER BY NO DESC
	</select>

    <select id="selectFarmLc" parameterType="egovMap" resultType="egovMap">
    	SELECT 
    		ID  AS FARM_LC,
    		VAL AS FARM_LC_NM
    	FROM TN_CODE_INFO
    	WHERE GID = '설치위치'
			<if test="farmLc != null and farmLc != ''">
    		AND ID = #{farmLc }
    		</if>
			<if test="farmLcNm != null and farmLcNm != ''">
			AND VAL = #{farmLcNm }
			</if>
    </select>

    <select id="selectEqpmnTy" parameterType="egovMap" resultType="egovMap">
    	SELECT 
    		ID  AS EQPMN_TY_CODE,
    		VAL AS EQPMN_TY_CODE_NM
    	FROM TN_CODE_INFO
    	WHERE GID = '장비타입'
			<if test="eqpmnTyCode != null and eqpmnTyCode != ''">
    		AND ID = #{eqpmnTyCode }
    		</if>
			<if test="eqpmnTyCodeNm != null and eqpmnTyCodeNm != ''">
			AND VAL = #{eqpmnTyCodeNm }
			</if>
    </select>

    <select id="selectMaxEqpmnNo" parameterType="egovMap" resultType="egovMap">
      	SELECT MAX(EQPMN_NO) AS MAX_EQPMN_NO 
      	FROM TN_EQPMN_MANAGE 
      	WHERE 
      		FARM_NO = #{farmNo} 
      		AND EQPMN_TY_CODE = #{eqpmnTyCode }
    </select>

      
</mapper>
