<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="newgov.iotReceive">

	<!-- 절감율 연산 성능 개선을 위한 실시간 집계 기능 -->
    <insert id="insertTnMesureInfo" parameterType="EgovMap" >
		INSERT INTO TN_MESURE_INFO
		(
			FARM_NO, 
			EQPMN_NO, 
			EQPMN_TY_CODE, 
			TP, 
			HD, 
			NH3, 
			MESURE_DT, 
			LOG_DT
		) 
		VALUES 
		( 
			#{farmNo}, 
			#{eqpmnNo}, 
			#{eqpmnTyCode}, 
			#{tp},
			#{hd},
			#{nh3},
			STR_TO_DATE( #{mesureDt} , '%Y-%m-%d %H:%i:%s'),
			NOW()
		)
    </insert>

	<!-- 절감율 연산 성능 개선을 위한 실시간 집계 기능 -->
    <insert id="insertTnMesureSaveRatio" parameterType="EgovMap" >
      <selectKey keyProperty="maxMesureDt" resultType="string" order="BEFORE">
      	SELECT DATE_FORMAT(MAX(MESURE_DT), '%Y-%m-%d %H:%i:%s')	AS MAX_MESURE_DT 
      	FROM TN_MESURE_SAVE_RATIO
      	WHERE FARM_NO = #{farmNo }
      </selectKey>
		INSERT INTO 
			TN_MESURE_SAVE_RATIO	
		SELECT A.MESURE_DT, 
			A.NH3 AS IN_NH3, 
			A.FARM_NO AS FARM_NO,
			A.FARM_NM AS FARM_NM,
			A.LOC_CD_NM AS LOC_CD_NM,
			B.NH3 AS OUT_NH3
		FROM 
		(
			SELECT *
			FROM VW_MESURE_INFO T1
			WHERE 
				T1.FARM_NO = #{farmNo }
				AND T1.IN_OUT = '1'
				AND T1.MESURE_DT > STR_TO_DATE( #{maxMesureDt} , '%Y-%m-%d %H:%i:%s')
		) A,
		(
			SELECT *
			FROM VW_MESURE_INFO T2
			WHERE 
				T2.FARM_NO = #{farmNo }
				AND T2.IN_OUT = '2'
				AND T2.MESURE_DT > STR_TO_DATE( #{maxMesureDt} , '%Y-%m-%d %H:%i:%s')
		) B
		WHERE A.FARM_NO = B.FARM_NO
		AND A.FARM_NO = #{farmNo }
		AND A.EQPMN_TY_CODE = B.EQPMN_TY_CODE
		AND A.MESURE_DT = B.MESURE_DT
		AND A.MESURE_DT > STR_TO_DATE( #{maxMesureDt} , '%Y-%m-%d %H:%i:%s')
    </insert>

    <insert id="insertTnVentlInfo" parameterType="EgovMap" >
   		INSERT INTO TN_VENTL_INFO
		(
			FARM_NO, 
			EQPMN_NO, 
			EQPMN_TY_CODE, 
			TP, 
			VENTLQY1, 
			VENTLQY2, 
			VENTLQY3, 
			MESURE_DT, 
			LOG_DT
		) 
        VALUES 
        ( 
			#{farmNo}, 
			#{eqpmnNo}, 
			#{eqpmnTyCode}, 
			#{tp}, 
			#{ventlqy1}, 
			#{ventlqy2}, 
			#{ventlqy3}, 
        	STR_TO_DATE( #{mesureDt} , '%Y-%m-%d %H:%i:%s'),
			NOW()
        )
    </insert>

    <insert id="insertTnWeatherInfo" parameterType="EgovMap" >
    	INSERT INTO TN_WEATHER_INFO
		(
			FARM_NO, 
			EQPMN_NO, 
			EQPMN_TY_CODE, 
			TP, 
			HD, 
			NH3, 
			WD, 
			WS, 
			MESURE_DT, 
			LOG_DT
		) 
        VALUES 
        ( 
			#{farmNo}, 
			#{eqpmnNo}, 
			#{eqpmnTyCode}, 
			#{tp}, 
			#{hd}, 
			#{nh3}, 
			#{wd}, 
			#{ws}, 
        	STR_TO_DATE( #{mesureDt} , '%Y-%m-%d %H:%i:%s'),
			NOW()
        )
    </insert>

</mapper>
